{% load static %}
<!DOCTYPE html>
<html lang="en-EG" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعيين كلمة مرور جديدة</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% include "header.html" %}
    <section class="container">
      <div class="card">
        <h2>تعيين كلمة مرور جديدة</h2>
        <form method="post">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {{ form.non_field_errors }}

          <div class="password-requirements">
            <h4>متطلبات كلمة المرور</h4>
            <ul>
              <li class="requirement-item" id="req-length"><i class="fas fa-times"></i> يجب أن تحتوي على 8 أحرف على الأقل</li>
              <li class="requirement-item" id="req-uppercase"><i class="fas fa-times"></i> يجب أن تحتوي على حرف كبير واحد على الأقل</li>
              <li class="requirement-item" id="req-lowercase"><i class="fas fa-times"></i> يجب أن تحتوي على حرف صغير واحد على الأقل</li>
              <li class="requirement-item" id="req-number"><i class="fas fa-times"></i> يجب أن تحتوي على رقم واحد على الأقل</li>
              <li class="requirement-item" id="req-special"><i class="fas fa-times"></i> يجب أن تحتوي على رمز خاص واحد على الأقل (!@#$%^&*())</li>
              <li class="requirement-item" id="req-match"><i class="fas fa-times"></i> كلمتا المرور متطابقتان</li>
            </ul>
          </div>

          <div class="form-group">
            {{ form.new_password.label_tag }}
            {{ form.new_password }}
            <div class="password-strength">
              <div class="strength-meter"></div>
              <div class="strength-text">
                <span>قوة كلمة المرور:</span>
                <span class="strength-value">ضعيفة</span>
              </div>
            </div>
            {{ form.new_password.errors }}
          </div>

          <div class="form-group">
            {{ form.confirm_password.label_tag }}
            {{ form.confirm_password }}
            {{ form.confirm_password.errors }}
          </div>

          <input type="submit" value="تعيين كلمة المرور" class="btn-submit" disabled>
        </form>
      </div>
    </section>
    {% include "footer.html" %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/password-validation.js' %}"></script>
  </body>
</html>
