{% load static %}
<!DOCTYPE html>
<html lang="en-EG">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick view</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  {% include "header.html" %}
  <!-- عرض سريع لمنتج -->
  <section class="quick-view">
  <!-- نوع المحتوى: عرض سريع -->
  <h1 class="heading">Quick view</h1>
  <form action="" method="post" class="box">
    {% csrf_token %}
    <input type="hidden" name="pid" value="0">
    <input type="hidden" name="name" value="0">
    <input type="hidden" name="price" value="0">
    <input type="hidden" name="image" value="0">
    <div class="row">
      <!-- صورة المنتج -->
      <div class="image-container">
        <!-- صوره مكبره -->
        <div class="main-image">
          <img src="" alt="">
        </div>
        <!-- صور مصغره -->
        <div class="sub-image">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
      <div class="content">
        <!-- اسم المنتج -->
        <div class="name">name</div>
        <div class="flex">
          <div class="price"><span>Nrs.</span>0<span>/-</span></div>
          <!-- الكميه المطلوبه -->
          <input type="number" name="qty" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1">
        </div>
        <!-- تفاصيل المنتج -->
        <div class="details">000</div>
        <div class="flex-btn">
          <!-- اض للعربه -->
          <input type="submit" value="add to cart" class="btn" name="add_to_cart">
          <!-- اضف للمفضله -->
          <input class="option-btn" type="submit" name="add_to_wishlist" value="add to wishlist">
        </div>
      </div>
    </div>
  </form>
  <!-- في حالة عدم توافر المنتج -->
  <p class="empty">no products added yet!</p>
  </section>
  {% include "footer.html" %}
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>