<!DOCTYPE html>
<html lang="en-EG">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  </head>
  <body>
  {% include "header.html" %}
  <!-- قسم التعريف بالمطور -->
  <section class="about">
  <!-- نوع المحتوى: عناصر جانبيه -->
  <div class="row">
    <div class="image">
      <!-- صورة تعريفية -->
      <img src="/static/Images/about.png" alt="Developer's Image">
    </div>
    <div class="content">
      <!-- رساله من المطور -->
      <h3>Developer's Message:</h3>
      <p>
        Hi there! I am **** *** *****, an information systems student from Al-king Institute who loves designing websites and exploring new things. Learning new skills is my passion!
      </p>
      <!-- رسالة شكر لدكتور مجمد -->
      <p>
        I'd like to thank <a href="https://www.facebook.com/hemeda120" target="_blank">Dr. Mohamed Gamal</a> for guiding me and my team to create projects like this 🧡
      </p>
      <a href="{{url_for('contact') }}" class="btn">Contact Us</a>
    </div>
  </div>
  </section>
  <!-- قسم المصممين -->
  <section class="reviews">
    <h1 class="heading">Designers</h1>
    <div class="swiper reviews-slider">
      <div class="swiper-wrapper">
        <!--  المصمم الأول -->
        <div class="swiper-slide slide">
          <!-- صورة المصمم -->
          <img src="/static/Images/Designers/Eslamgoda.JPG" alt="Client Image">
          <p>Team Leader & Website Designer</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3>
            <!-- صفحة المصمم -->
            <a href="https://www.facebook.com/profile.php?id=100028427116921" target="_blank">Eslam mohamed goda</a>
          </h3>
        </div>
        <!-- المصمم الثاني -->
        <div class="swiper-slide slide">
          <img src="/static/Images/Designers/abdoanter.jpg" alt="Client Image">
          <p>Back-End Services</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3>
            <a href="https://www.facebook.com/abdoabdo929" target="_blank">Abdo Antr</a>
          </h3>
        </div>
        <!-- المصمم الثالث -->
        <div class="swiper-slide slide">
          <img src="/static/Images/Designers/mostafaelsayed.jpg" alt="Client Image">
          <p>Back-End developer</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3>
            <a href="https://www.facebook.com/abdoabdo929" target="_blank">Mostafa Elsayed</a>
          </h3>
        </div>
        <!-- المصمم الثالث -->
        <div class="swiper-slide slide">
          <img src="/static/Images/Designers/mostafaelsayed.jpg" alt="Client Image">
          <p>Back-End developer</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3>
            <a href="https://www.facebook.com/abdoabdo929" target="_blank">Mostafa Elsayed</a>
          </h3>
        </div>
        <!-- المصمم الرابع -->
        <div class="swiper-slide slide">
          <img src="/static/Images/Designers/mostafaabuayash.jpg" alt="Client Image">
          <p>front-End developer</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3>
            <a href="https://github.com/Mosta-fa23" target="_blank">Mostafa AbuAyash</a>
          </h3>
        </div>
      </div>
      <!-- مؤشر السلايدر -->
      <div class="swiper-pagination"></div>
    </div>
  </section>
  {% include "footer.html" %}
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/slider_about.js"></script>
  </body>
</html>
