{% load static %}
<!DOCTYPE html>
<html lang="en-EG">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% include "header.html" %}
    <!-- صفحة التواصل -->
    <section class="contact">
      <!-- نوع المحتوى: جدول -->
    <form action="" method="post">
      {% csrf_token %}
      <h3>ابقى على تواصل</h3>
      <!-- الاسم -->
      <input type="text" name="name" placeholder="أدخل اسمك" required maxlength="20" class="box">
      <!-- email -->
      <input type="email" name="email" placeholder="أدخل بريدك الإلكتروني" required maxlength="50" class="box">
      <!-- رقم الهاتف -->
      <input type="number" name="number" min="0" max="9999999999" placeholder="أدخل رقمك" required onkeypress="if(this.value.length == 10) return false;" class="box">
      <!-- محتوى الرسالة -->
      <textarea name="msg" class="box" placeholder="أدخل رسالتك" cols="30" rows="10"></textarea>
      <!-- زر الإرسال -->
      <input type="submit" value="ارسل رسالة" name="send" class="btn">
    </form>
    </section>
    {% include "footer.html" %}
    <script src="/static/js/main.js"></script>
  </body>
</html>