<!DOCTYPE html>
<html lang="en-EG">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
  {% include "header.html" %}
  <!-- checkout  -->
  <section class="checkout-orders">
    <!-- نوع المحتوى: جدول -->
    <form action="" method="POST">
      <h3>طلباتك</h3>
      <div class="display-orders">
        <!-- اسم المستخدم -->
        <p> الاسم <span>0</span> </p>
        <!-- في حالة عدم وجود منتجات -->
        <p class="empty">عربة التسوق الخاصة بك فارغة!</p>
        <!-- عدد المنتجات في العربة -->
        <input type="hidden" name="total_products" value="0">
        <!-- السعر الكلي -->
        <input type="hidden" name="total_price" value="0" value="">
        <div class="grand-total">المجموع الكلي : <span>جنيه / 0</span></div>
      </div>
      <!-- جدول ملئ البيانات -->
      <h3>قم بملئ بياناتك</h3>
      <div class="flex">
        <div class="inputBox">
          <!-- اسم المستخدم -->
          <span>اسم العميل:</span>
          <input type="text" name="name" placeholder="أدخل اسمك" class="box" maxlength="20" required>
        </div>
        <div class="inputBox">
          <!-- رقم الهاتف -->
          <span>رقمك :</span>
          <input type="number" name="number" placeholder="أدخل رقمك" class="box" min="0" max="9999999999" onkeypress="if(this.value.length == 10) return false;" required>
        </div>
        <div class="inputBox">
          <!-- email -->
          <span>بريدك الإلكتروني :</span>
          <input type="email" name="email" placeholder="أدخل بريدك الإلكتروني" class="box" maxlength="50" required>
        </div>
        <div class="inputBox">
          <!-- اختيار الدفع -->
          <span>طرق الدفع ؟ :</span>
          <select name="method" class="box" required>
            <!-- طرق الدفع -->
            <option value="cash on delivery">الدفع عند الاستلام</option>
            <option value="credit card">بطاقة الإئتمان</option>
          </select>
        </div>
        <div class="inputBox">
          <!-- الدولة -->
          <span>الدولة :</span>
          <input type="text" name="country" placeholder="علي سبيل المثال مصر" class="box" maxlength="50" required>
        </div>
        <div class="inputBox">
          <!-- المحافظة -->
          <span>المحافظة :</span>
          <input type="text" name="state" placeholder="علي سبيل المثال الاسكندرية" class="box" maxlength="50" required>
        </div>
        <div class="inputBox">
          <span>الرمز البريدي :</span>
          <input type="number" min="0" name="pin_code" placeholder="alex 21551" min="0" max="999999" onkeypress="if(this.value.length == 6) return false;" class="box" required>
        </div>
        <div class="inputBox">
          <!-- الحي -->
          <span>الحي :</span>
          <input type="text" name="city" placeholder="علي سبيل المثال القباري" class="box" maxlength="50" required>
        </div>
        <div class="inputBox">
          <!-- عنوان البيت -->
          <span>العنوان :</span>
          <input type="text" name="street" placeholder="اسم الشارع" class="box" maxlength="50" required>
        </div>
        <div class="inputBox">
          <!-- رقم المنزل/الشقه -->
          <span>رقم الشقة :</span>
          <input type="text" name="flat" placeholder="رقم الشقة" class="box" maxlength="50" required>
        </div>
      </div>
      <!-- تنفيذ الطلب -->
      <input type="submit" name="order" class="btn <?= ($grand_total > 1)?'':'disabled'; ?>" value="ضع الطلب">
    </form>
    </section>
    {% include "footer.html" %}
    <script src="/static/js/main.js"></script>
  </body>
</html>