{% load static %}
<!DOCTYPE html>
<html lang="en-EG">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>عربة التسوق</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  {% include "header.html" %}
  <!-- عربة التسوق -->
  <section class="products shopping-cart">
  <h3 class="heading">عربة التسوق</h3>
  <!-- نوع المحتوى: صندوق محتوى -->
  <div class="box-container">
    <form action="" method="post" class="box">
      {% csrf_token %}
      <!-- عنوان المنتج -->
      <input type="hidden" name="cart_id" value="">
      <!-- تقييم المنتج -->
      <a href="{% url 'store:quick_view' %}" class="fas fa-eye"></a>
      <!-- صورة المنتج -->
      <img src="" alt="">
      <!-- اسم المنتج -->
      <div class="name">0</div>
      <div class="flex">
        <!-- سعر المنتج -->
        <div class="price">0</div>
        <!-- الكمية المطلوبة -->
        <input type="number" name="qty" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="<?= $fetch_cart['quantity']; ?>">
        <!-- تحديث الكمية -->
        <button type="submit" class="fas fa-edit" name="update_qty"></button>
      </div>
      <!-- المجموع الفرعي -->
      <div class="sub-total"> المجموع الفرعي : <span>0</span> </div>
      <!-- حذف المنتج من العربة -->
      <input type="submit" value="حذف المنتج" onclick="return confirm('delete this from cart?');" class="delete-btn" name="delete">
    </form>
    <!-- في حاالة عدم وجود منتجات في العربة -->
    <p class="empty">عربة التسوق فارغة</p>
  </div>
  <div class="cart-total">
    <!-- المجموع الكلي للعربة -->
    <p>المجموع الكلي : <span>0</span></p>
    <!-- مواصلة التسوق -->
    <a href="{% url 'store:shop' %}" class="option-btn">مواصلة التسوق</a>
    <!-- حذف كل المنتجات في العربه -->
    <a href="#" class="delete-btn <?= ($grand_total > 1)?'':'disabled'; ?>" onclick="return confirm('delete all from cart?');">Delete All Items ?</a>
    <!-- checkout -->
    <a href="{% url 'store:checkout' %}" class="btn <?= ($grand_total > 1)?'':'disabled'; ?>">انتقل إلى الخروج</a>
  </div>
  </section>
  {% include "footer.html" %}
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>