<!-- رأس الصفحة -->
{% load static %}
<header class="header">
  <!-- نوع المحتوى: عناصر جانبيه -->
  <section class="flex">
    <!-- لوجو الموقع -->
    <a href="{% url 'store:home' %}" class="logo">بيـــرو</span></a>
    <!-- شريط التنقل -->
    <nav class="navbar">
      <a href="{% url 'store:home' %}">الصفحة الرئيسية</a>
      <a href="{% url 'store:about' %}">معلومات عنا</a>
      <a href="{% url 'store:orders' %}">الطلبات</a>
      <a href="{% url 'store:shop' %}">المتجر</a>
      <a href="{% url 'store:contact' %}">اتصل بنا</a>
    </nav>
    <!-- أيقونات (بحث / المفضله / عربة التسوق) -->
    <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
        <!-- زر البحث -->
        <a href="{% url 'store:search' %}"><i class="fas fa-search"></i>بحث</a>
        <!-- زر المفضله -->
        <a href="{% url 'store:wishlist' %}"><i class="fas fa-heart"></i><span>(0)</span></a>
        <!-- زر عربة التسوق -->
        <a href="{% url 'store:cart' %}"><i class="fas fa-shopping-cart"></i><span>(0)</span></a>
      <div id="user-btn" class="fas fa-user"></div>
    </div>
    <!-- الحساب الشخصي -->
    <div class="profile">
      {% if user.is_authenticated %}
      <!-- اسم المستخدم -->
      <p>{{ user.username }}</p>
      <a href="{% url 'store:update' %}" class="btn">تحديث الملف الشخصي</a>
      <a href="{% url 'store:logout' %}" class="delete-btn">تسجيل الخروج</a>
      {% else %}
      <!-- رسالة حالة عدم وجود حساب -->
      <p>Please Login / Register First to proceed!</p>
      <div class="flex-btn">
        <!-- أزرار تسجيل الدخول أو تسجيل حساب جديد -->
        <a href="{% url 'store:register' %}" class="option-btn">Register</a>
        <a href="{% url 'store:login' %}" class="option-btn">Login</a>
      </div>
      {% endif %}
    </div>
  </section>
</header>