{% load static %}
<!DOCTYPE html>
<html lang="en-EG">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  {% include "header.html" %}
  <!-- المفضله -->
  <section class="products">
    <h3 class="heading">قائمة الرغبات الخاصة بك</h3>
    <!-- نوع المحتوى: جدول عناصر -->
    <div class="box-container">
      <!-- المنتجات -->
      <form action="" method="post" class="box">
        {% csrf_token %}
        <input type="hidden" name="pid" value="">
        <input type="hidden" name="wishlist_id" value="">
        <input type="hidden" name="name" value="">
        <input type="hidden" name="price" value="">
        <input type="hidden" name="image" value="">
        <a href="{% url 'store:quick_view' %}" class="fas fa-eye"></a>
        <img src="" alt="">
        <div class="name">0</div>
        <div class="flex">
          <div class="price">0</div>
          <input type="number" name="qty" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1">
        </div>
        <input type="submit" value="اضف الي السلة" class="btn" name="add_to_cart">
        <input type="submit" value="حذف المنتج" onclick="return confirm('delete this from wishlist?');" class="delete-btn" name="delete">
      </form>
    </div>
    <div class="wishlist-total">
      <!-- المجموع الكلي -->
      <p>المجموع الكلي : <span>0</span></p>
      <a href="{% url 'store:shop' %}" class="option-btn">مواصلة التسوق</a>
      <a href="#" class="delete-btn" onclick="return confirm('delete all from wishlist?');">حذف كل المنتجات</a>
    </div>
  </section>
  {% include "footer.html" %}
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>